<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882796356128-4vqndfka4f5tf1s6pf7fnve7gbn0nlta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882796356128-4vqndfka4f5tf1s6pf7fnve7gbn0nlta</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>882796356128-4hun05tqe9vu2bsji7od4r7l7fbf85lq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBFQA1iDKoyGWDjx7GwNBCoJIDPEncHt3k</string>
	<key>GCM_SENDER_ID</key>
	<string>882796356128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>contact.flutter.ios.staging</string>
	<key>PROJECT_ID</key>
	<string>skorid-android</string>
	<key>STORAGE_BUCKET</key>
	<string>skorid-android.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:882796356128:ios:c1816fe2d0b86ab9419245</string>
</dict>
</plist>
